In [1]:
import pandas as pd

In [2]:
csv = "iowa_caucus_results.csv"

scraped_data_df = pd.read_csv(csv)

In [3]:
scraped_data_df.head()

,County,Precinct,Bennet_First_Expression,Bennet_Final_Expression,Bennet_SDE,Biden_First_Expression,Biden_Final_Expression,Biden_SDE,Bloomberg_First_Expression,Bloomberg_Final_Expression,...,Warren_SDE,Yang_First_Expression,Yang_Final_Expression,Yang_SDE,Other_First_Expression,Other_Final_Expression,Other_SDE,Uncommitted_First_Expression,Uncommitted_Final_Expression,Uncommitted_SDE
0,Adair,1NW ADAIR,0,0,0,6,6,0.0784,0,0,...,0.1569,0,0,0.0000,0,0,0.0,0,0,0.0
1,Adair,3SW FONTANELLE,0,0,0,9,9,0.1569,0,0,...,0.0000,15,15,0.3922,0,0,0.0,0,0,0.0
2,Adair,5GF GREENFIELD,0,0,0,8,0,0.0000,0,0,...,0.0000,12,13,0.1569,0,0,0.0,0,0,0.0
3,Adair,2NE STUART,0,0,0,6,0,0.0000,0,0,...,0.0000,1,1,0.0000,0,0,0.0,0,0,0.0
4,Adair,4SE ORIENT,0,0,0,7,7,0.1569,0,0,...,0.2353,0,0,0.0000,0,0,0.0,0,0,0.0

In [18]:
bennet_df = scraped_data_df.iloc[:,0:5]
bennet_df["Candidate"] = ['Michael Bennet' for i in range(1765)]
bennet_df = bennet_df.rename(columns={"Bennet_First_Expression": "first_expression", "Bennet_Final_Expression": "final_expression", "Bennet_SDE": "state_delegate_equivalent"})

bennet_df.head()

,County,Precinct,first_expression,final_expression,state_delegate_equivalent,Candidate
0,Adair,1NW ADAIR,0,0,0,Michael Bennet
1,Adair,3SW FONTANELLE,0,0,0,Michael Bennet
2,Adair,5GF GREENFIELD,0,0,0,Michael Bennet
3,Adair,2NE STUART,0,0,0,Michael Bennet
4,Adair,4SE ORIENT,0,0,0,Michael Bennet

In [27]:
biden_df = scraped_data_df.iloc[:,[0,1,5,6,7]]
biden_df["Candidate"] = ['Joe Biden' for i in range(1765)]
biden_df = biden_df.rename(columns={"Biden_First_Expression": "first_expression", "Biden_Final_Expression": "final_expression", "Biden_SDE": "state_delegate_equivalent"})

biden_df.head()

D:\DevStuff\Languages\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,County,Precinct,first_expression,final_expression,state_delegate_equivalent,Candidate
0,Adair,1NW ADAIR,6,6,0.0784,Joe Biden
1,Adair,3SW FONTANELLE,9,9,0.1569,Joe Biden
2,Adair,5GF GREENFIELD,8,0,0.0000,Joe Biden
3,Adair,2NE STUART,6,0,0.0000,Joe Biden
4,Adair,4SE ORIENT,7,7,0.1569,Joe Biden

In [30]:
bloomberg_df = scraped_data_df.iloc[:,[0,1,8,9,10]]
bloomberg_df["Candidate"] = ['Michael Bloomberg' for i in range(1765)]
bloomberg_df = bloomberg_df.rename(columns={"Bloomberg_First_Expression": "first_expression", "Bloomberg_Final_Expression": "final_expression", "Bloomberg_SDE": "state_delegate_equivalent"})

bloomberg_df.head()

D:\DevStuff\Languages\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,County,Precinct,first_expression,final_expression,state_delegate_equivalent,Candidate
0,Adair,1NW ADAIR,0,0,0.0,Michael Bloomberg
1,Adair,3SW FONTANELLE,0,0,0.0,Michael Bloomberg
2,Adair,5GF GREENFIELD,0,0,0.0,Michael Bloomberg
3,Adair,2NE STUART,0,0,0.0,Michael Bloomberg
4,Adair,4SE ORIENT,0,0,0.0,Michael Bloomberg